{% extends 'admin/admin-base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    <nav class="text-text-1 font-normal mb-2" aria-label="Breadcrumb">
        <ol class="list-none p-0 inline-flex">
            <li class="flex items-center">
                <a href="{{ path('admin_home') }}">Admin</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li class="flex items-center">
                <a href="{{ path('user_index') }}">User</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li>
                <span class="text-gray-500" aria-current="page">Details</span>
            </li>
        </ol>
    </nav>
    <h1 class="page-title">User</h1>

    <div class="mb-4">
        <a class="btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
    </div>

    {% if not user.isVerified %}
        <div class="text-text-3 px-6 py-4 border-0 rounded-sm relative mb-4 bg-danger">Email not verified!</div>
    {% endif %}

    <div class="bg-ui-1 shadow overflow-hidden">
        <dl>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Email
                </dt>
                <dd class="mt-1 text-sm text-text-1 sm:mt-0 sm:col-span-2">
                    {{ user.email }}
                </dd>
            </div>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Family Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ user.familyName }}
                </dd>
            </div>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Given Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ user.givenName }}
                </dd>
            </div>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Roles
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ user.roles ? user.roles|join(', ') : '' }}
                </dd>
            </div>
        </dl>
    </div>

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Connected with</h2>
    <div>
        {% for account in user.connectedWith %}
            <div class="border border-ui-2 overflow-hidden mb-4">
                <div class="p-4 sm:px-6 pt-8 pb-2">
                    <span class="block font-bold text-lg">{{ provider.fromReference(account.provider).name }}</span>
                    <span class="block text-sm text-gray-600">{{ account.externalUsername }}</span>
                </div>
            </div>
        {% else %}
            <p>No connected to any external accounts.</p>
        {% endfor %}
    </div>

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Careful</h2>
    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
