{% extends 'base.html.twig' %}

{% block title %}JEE Login{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto p-4">
        <nav class="text-text-1 font-normal mb-2" aria-label="Breadcrumb">
            <ol class="list-none p-0 inline-flex">
                <li class="flex items-center">
                    <a href="{{ path('app_login') }}">Sign in</a>
                    <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                    </svg>
                </li>
                <li>
                    <span class="text-gray-500" aria-current="page">Discovery</span>
                </li>
            </ol>
        </nav>
        <h1 class="page-title">How should I sign in?</h1>
        <p>To discover how you can sign-in for your organisation, please enter your email or organisations domain
            below.</p>

        {% if app.user %}
            <div class="text-text-2 px-6 py-4 border-0 rounded-sm relative mb-4 bg-ui-2">
                You are already logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% if re is same as 'localNotSupported' %}
            <div class="text-text-2 px-6 py-4 border-0 rounded-sm relative mb-4 bg-warning">
                The organisation you tried to register for does not support authentication through a Network Account. Please see the supported means of sign-in below.
            </div>
        {% endif %}

        <form method="get">
            <label for="domain" class="block text-sm font-medium text-gray-700">Email / Domain</label>
            <div class="mt-1 relative rounded-sm shadow-sm">
                <input type="text" name="domain" id="domain"
                       class="focus:ring-primary focus:border-primary block w-full pl-7 pr-12 sm:text-sm border-ui-2 rounded-md">
                <div class="absolute inset-y-0 right-0 flex">
                    <button class="bg-primary hover:bg-primary-600 px-2 rounded-sm">{{ button_label|default('Search') }}</button>
                </div>
            </div>
        </form>

        {% if organisation %}
            <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-4">{{ organisation.name }}</h2>
            {% if organisation.providers|length > 0 %}
                <p>For {{ organisation.name }} please use one of the following options to log-in:</p>
                {% for provider in organisation.providers %}
                    {% if provider.type is same as 'global' and globalProviderConfig[provider.configuration.provider] is defined %}
                        <div>
                            <p>You can use your {{ globalProviderConfig[provider.configuration.provider].name }} account
                                with the e-mail domain of
                                @{{ provider.domain }}</p>
                            <a class="btn-primary"
                               href="{{ path('connect_global',{providerKey: provider.configuration.provider}) }}">Use
                                your {{ globalProviderConfig[provider.configuration.provider].name }} Account</a>
                        </div>
                    {% elseif provider.type is same as 'global' %}
                        <div>
                            <p>There is a problem with the {{ provider.name }} configuration for domains
                                with {{ provider.domain }}. Please contact your IT support.</p>
                        </div>
                    {% endif %}

                    {% if provider.type is same as 'google' %}
                        <div>
                            <p>You can use your Google account with the e-mail domain of
                                @{{ provider.domain }}</p>
                            <a class="btn-primary" href="{{ path('connect',{providerId: provider.id}) }}">Use your
                                Google Account</a>
                        </div>
                    {% endif %}

                    {% if provider.type is same as 'microsoft' %}
                        <div>
                            <p>You can use your Mircosoft Account with the e-mail domain of
                                @{{ provider.domain }}</p>
                            <a class="btn-primary" href="{{ path('connect_microsoft', {providerId: provider.id}) }}">Use
                                your Microsoft Account</a>
                        </div>
                    {% endif %}

                    {% if provider.type is same as 'generic' %}
                        <div>
                            <p>You can use {{ provider.name }} with the e-mail domain of
                                @{{ provider.domain }}</p>
                            <a class="btn-primary" href="{{ path('connect', {providerId: provider.id}) }}">Use
                                your {{ provider.name }} Account</a>
                        </div>
                    {% endif %}

                    {% if provider.type is same as 'local' %}
                        <div>
                            <p>You can use a Network Account. If you do not have one yet, you can register below.</p>
                            <a class="btn-primary" href="{{ path('app_login') }}">Go to Login</a>
                            <a class="btn-primary" href="{{ path('app_register') }}">Create an account</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No log-in system was configured for {{ organisation.name }}. Please contact your IT-Support.</p>
            {% endif %}
        {% else %}
            <h2 class="text-lg leading-6 font-medium text-text-1 mb-4 mt-8">My organisation is not listed</h2>
            <p>Please contact our IT support to get your organisation activated.</p>
        {% endif %}
    </div>
{% endblock %}
