{% extends 'base.html.twig' %}

{% block title %}Network Login{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto p-4">
        <h1 class="page-title">Please sign in</h1>

        <div class="mt-8">
            {% for key, details in global_provider %}
                <a class="w-full inline-flex justify-center rounded-sm border border-ui-2 shadow-sm px-4 py-2 mb-2 text-base font-medium text-white hover:border-ui-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                   href="{{ path('connect_global', {'providerKey': key}) }}">Use your {{ details['name'] }}
                    account</a>
            {% endfor %}
        </div>

        <form class="mt-8 space-y-6" action="#" method="post">
            <h3 class="text-lg leading-6 font-medium text-text-1">Network Account</h3>

            {% if error %}
                <div class="text-text-3 px-6 py-4 border-0 rounded-sm relative mb-4 bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="text-text-2 px-6 py-4 border-0 rounded-sm relative mb-4 bg-ui-2">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <input type="hidden" name="remember" value="true">
            <div class="rounded-sm shadow-sm -space-y-px">
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="_email" type="email" autocomplete="email"
                           value="{{ last_username }}" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Email address">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="_password" type="password" autocomplete="current-password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                           placeholder="Password">
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input id="remember_me" name="remember_me" type="checkbox"
                           class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                    <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                        Remember me
                    </label>
                </div>

                <div class="text-sm">
                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Forgot your password?
                    </a>
                </div>
            </div>
            #}

            <div>
                <button type="submit"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-sm text-text-3 bg-primary hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: lock-closed -->
            <svg class="h-5 w-5 text-primary-200 group-hover:text-primary-400" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd"/>
            </svg>
          </span>
                    Sign in
                </button>
            </div>
        </form>
        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2 mt-8">How can I sign in?</h3>
        <p>If you are unsure what option you should choose, please consult our <a
                    href="{{ path('app_login_discover') }}" class="underline text-primary">discovery page</a>.</p>
    </div>
{% endblock %}
