{% extends 'base.html.twig' %}

{% block title %}Network Login Service{% endblock %}

{% block body %}
    <main class="max-w-md mx-auto p-4">
        <h1 class="page-title">Welcome {{ user.givenName ?? user.email }}!</h1>

        {% if not user.isVerified %}
        <div class="text-text-3 px-6 py-4 border-0 rounded-sm relative mb-4 bg-danger"
             role="alert">
            <h2 class="text-lg mb-2">Account Verification</h2>
            <p>Your account email has not been verified yet. To fully use your account you have to validate your email, by following the instructions send to you via email.</p>
            <a href="{{ path('app_verify_email_request') }}">Resend / Request Email Verification</a>
        </div>
        {% else %}
            <p>What would you like to do?</p>
        {% endif %}

        <h2 class="text-lg leading-6 font-medium text-text-1 mb-2 mt-8">Go to Application</h2>
        <div class="grid grid-auto-14 gap-2">
            {% for application in applications %}
                <a href="{{ application.homepageUrl }}" class="block bg-ui-1 border border-ui-2 hover:border-ui-3 p-4 pt-8 ">
                    <div class="font-bold text-lg">{{ application.name }}</div>
                </a>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>

        <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Your Profile</h2>

        <div class="bg-ui-1 shadow overflow-hidden">
            <dl>
                <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Forename
                    </dt>
                    <dd class="mt-1 text-sm text-text-1 sm:mt-0 sm:col-span-2">
                        {{ user.givenName }}
                    </dd>
                </div>
                <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Surname
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.familyName }}
                    </dd>
                </div>
                <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.email }}
                    </dd>
                </div>
            </dl>
        </div>

        <h3 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Your Organisation</h3>
        <b>{{ organisation.name }}</b>
        <br/>
        {% if organisation.contact %}
            <p>If you encounter any issues, please contact <a class="text-primary hover:text-primary-700"
                                                              href="mailto:{{ organisation.contact }}">{{ organisation.contact }}</a>
            </p>
        {% endif %}
    </main>
{% endblock %}
