{% extends 'base.html.twig' %}

{% block title %}Register your organisation{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto p-4">
        <h1 class="page-title">Ups. We don't know your organisation!</h1>

        {% if app.user %}
            <div class="text-text-2 px-6 py-4 border-0 rounded-sm relative mb-4 bg-ui-2">
                You are already logged in as {{ app.user.username }} and should not have landed on this page, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <p>
            It seems like your organisation does not yet exist in the system. Please check if you used the right email for your registration, it needs to be affiliated with your organisation.
        </p>

        <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-4">I want to register my organisation</h2>
        <p>If you think your organisation should be registered, please contact our IT.</p>
    </div>
{% endblock %}
