{% extends 'base.html.twig' %}

{% block body %}
    <div class="page flex">
        <div class="sidebar bg-ui-2 flex-grow">
            <menu class="m-0 p-0">
                <li><a href="{{ path('organisation_index') }}" class="text-text-2">Organisations</a></li>
                <li><a href="{{ path('application_index') }}" class="text-text-2">Applications</a></li>
                <li><a href="{{ path('user_index') }}" class="text-text-2">Users</a></li>
            </menu>
        </div>
        <div class="m-4 lg:mx-8 mb-12 max-w-screen-md">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}
