/*!
 * (c) Julius Stoerrle <juliusstoerrle@gmx.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
@import "theme";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html, body {
        font-family: var(--font-family);
        overflow-x: hidden;
    }
}

@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-primary text-text-1 rounded-sm shadow-md hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
    }

    .page-title {
        @apply text-3xl font-extrabold mb-4;
    }
}

@layer utilities {
    .grid-auto-14 {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
}

// LEAGACY

.table, p {
    margin-bottom: 1rem;
}

.table {
    border: 3px solid #eee;
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 3px solid #eee;
    padding: .5rem .5rem 1rem;
    text-align: left;
}

/** ADMIN ### */
.page {
    flex-wrap: nowrap;
    align-content: stretch;
    min-height: calc(100vh - 3rem);
}

.sidebar {
    min-width: 8rem;
    max-width: 12rem;
}

.sidebar menu li {
    list-style: none;
    display: block;
    border-bottom: .1px solid #ccc;
}
.sidebar menu li a {
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
}

.secret_container:not(:hover) {
    background: black;
    border-radius: 999px;
}

.secret_container:not(:hover) .secret {
    visibility: hidden;
}