/*!
 * (c) Julius Stoerrle <juliusstoerrle@gmx.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

:root {
  --color-amber: #FA6700;
  --color-amber-800: #ad4800;
  --color-amber-700: #c75300;
  --color-amber-600: #e05e00;
  --color-amber-500: #FA6700;
  --color-amber-400: #ff852e;
  --color-amber-300: #ffa361;
  --color-amber-200: #ffb27a;

  --color-white: #ffffff;
  --color-grey-1: #272727;
  --color-grey-2: #474747;
  --color-grey-9: #e7e7e7;
  --color-black: #111;

  --color-danger: #ba0202;
  --color-warning: #ffb900;
  --color-success: #148914;

  --color-primary: var(--color-amber);
  --color-primary-800: var(--color-amber-800);
  --color-primary-700: var(--color-amber-700);
  --color-primary-600: var(--color-amber-600);
  --color-primary-500: var(--color-amber-500);
  --color-primary-400: var(--color-amber-400);
  --color-primary-300: var(--color-amber-300);
  --color-primary-200: var(--color-amber-200);
  --color-text-1: var(--color-black);
  --color-text-2: var(--color-black); // TOOD
  --color-text-3: var(--color-white);
  --color-ui-1: var(--color-white);
  --color-ui-2: var(--color-grey-9);
  --color-ui-3: var(--color-grey-1);

  --font-family: sans-serif;
}