{% use "form_div_layout.html.twig" %}

{% block text_widget %}
    {%- set type = type|default('text') -%}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block button_widget -%}
    {%- if attr.forgotten is same as(true) -%}
        <div class="flex items-center justify-between">
            {%- set attr = attr|merge({class: (attr.class|default('bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'))|trim}) -%}
            {{- parent() -}}
            <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="">
                Forgot Password?
            </a>
        </div>
    {%- else -%}
        <div class="mt-10 flex justify-center">
            {%- set attr = attr|merge({class: (attr.class|default('bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'))|trim}) -%}
            {{- parent() -}}
        </div>
    {%- endif -%}

{%- endblock button_widget %}

{%- block form_widget_simple -%}
    <input type="{{ type }}"
           id="{{ id }}"
           name={{ full_name }}
           class="{{ block('input_class') }}"
           {% if value is not empty %}value="{{ value }}" {% endif %}
            {% if required is defined %}required {% endif %}/>
{%- endblock form_widget_simple -%}

{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        <div class="md:w-1/3">
            {{- parent() -}}
        </div>
    {%- endif -%}
{%- endblock form_label %}

{% block form_row -%}
    {%- set widget_attr = {} -%}
    <div class="mb-6">
        <div class="md:flex md:items-center row mb-2">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_help(form) -}}
            </div>
        </div>
        {{ form_errors(form) }}
    </div>
{%- endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="md:flex md:items-center mb-4">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <ul class="list-reset">
                    {%- for error in errors -%}
                        <li class="text-red text-xs italic">{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_label_class -%}
    block text-grey-darker font-bold md:text-right mb-1 md:mb-0 pr-4
{% endblock form_label_class -%}

{% block input_class -%}
    {% if form.vars.errors|length %}border-red border-1{% endif %} appearance-none bg-grey-lighter border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-blue-light
{% endblock input_class -%}

{% block form_group_class -%}
    md:w-2/3
{% endblock form_group_class -%}

{% block custom_button_class -%}
    bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline
{% endblock custom_button_class -%}

{%- block collection_widget -%}
    {% if prototype is defined and not prototype.rendered %}
        {# modified to use stimulus controller #}
        {%- set attr = attr|merge({'data-controller': 'formcollection','data-formcollection-prototype-value': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}