{% extends 'admin/admin-base.html.twig' %}

{% block title %}Organisations{% endblock %}

{% block main %}
    <nav class="text-text-1 font-normal mb-2" aria-label="Breadcrumb">
        <ol class="list-none p-0 inline-flex">
            <li class="flex items-center">
                <a href="{{ path('admin_home') }}">Admin</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li class="flex items-center">
                <a href="{{ path('organisation_index') }}">Organisations</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li>
                <span class="text-gray-500" aria-current="page">Details</span>
            </li>
        </ol>
    </nav>
    <h1 class="page-title">Organisation</h1>

    <div class="mb-4">
        <a class="inline-block btn-primary" href="{{ path('organisation_edit', {'id': organisation.id}) }}">Edit</a>
    </div>

    <div class="bg-ui-1 shadow overflow-hidden">
        <dl>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Name
                </dt>
                <dd class="mt-1 text-sm text-text-1 sm:mt-0 sm:col-span-2">
                    {{ organisation.name }}
                </dd>
            </div>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Abbreviation
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ organisation.abbreviation }}
                </dd>
            </div>
            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Contact
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ organisation.contact }}
                </dd>
            </div>
        </dl>
    </div>

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Providers</h2>
    <div>
        {% for provider in organisation.providers %}
            <div class="border border-ui-2 overflow-hidden mb-4">
                <div class="p-4 sm:px-6 pt-8 pb-2">
                    <span class="block font-bold text-lg">{{ provider.name }}</span>
                    <span class="block text-sm text-gray-600">{{ provider.type }} | {{ provider.domain }}</span>
                </div>
                {% if provider.type not in ['local'] %}
                    <span class="block font-bold mt-2 px-4 sm:px-6 border-top border-ui-2">Configuration</span>
                    <dl>
                        {% for key,value in provider.configuration %}
                            <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    {{ key }}
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 break-all">
                                    {{ value }}
                                </dd>
                            </div>
                        {% endfor %}
                    </dl>
                {% endif %}
                {% if provider.type in ['generic','google','microsoft'] %}
                    <span class="block font-bold mt-2 px-4 sm:px-6">Use these values to configure the authorization server:</span>
                    <dl>
                        <div class="bg-ui-1 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                Redirection Uri
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 break-all">
                                {{ path('connect_check', {providerId: provider.id}) }}
                            </dd>
                        </div>
                    </dl>
                {% endif %}
            </div>
        {% else %}
            <p>No providers configured. A provider is required to add user to this organisation.</p>
        {% endfor %}
    </div>

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-6 mb-2">Sub organisations</h2>
    <div class="grid grid-auto-14 gap-2">
        {% for child in organisation.childOrganisations %}
            <a href="{{ path('organisation_show', {'id': child.id}) }}"
               class="block border border-ui-2 overflow-hidden p-4 pt-8 hover:border-ui-3">
                <span class="block font-bold text-lg">{{ child.name }}</span>
            </a>
        {% else %}
            <p class="text-ui-2">no organisations attributed</p>
        {% endfor %}
    </div>

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Member of</h2>
    {% if organisation.partOf is not null %}
        <div class="border border-ui-2 overflow-hidden p-4 pt-8">
            <span class="block font-bold text-lg">{{ organisation.partOf.name }}</span>
        </div>
    {% else %}
        <p class="text-ui-2">not attributed to any parent organisation</p>
    {% endif %}

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Careful</h2>
    {{ include('admin/organisations/_delete_form.html.twig') }}
{% endblock %}
